.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	user-select: none;
}

.active {
	composes: ham;
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke: var(--navigation-text);
	stroke-width: 5.5;
	stroke-linecap: round;
}

.top {
	composes: line;
	stroke-dasharray: 40 130;
}
.middle {
	composes: line;
	stroke-dasharray: 40 140;
}
.bottom {
	composes: line;
	stroke-dasharray: 40 205;
}
.active .top {
	stroke-dasharray: 75 130;
	stroke-dashoffset: -63px;
}
.active .middle {
	stroke-dashoffset: -102px;
}
.active .bottom {
	stroke-dasharray: 110 205;
	stroke-dashoffset: -86px;
}
