.navigation {
	position: absolute;
	bottom: calc(var(--navigation-height) - 0.1rem);
	left: 0;
	width: 100%;
	text-transform: uppercase;
	background: var(--navigation-bg);
	opacity: 0.9;
	transition: all 0.4s ease-in;
	z-index: -1;
}

.navList {
	margin: 0;
	list-style-type: none;
	text-align: center;
}

.navLi {
	margin: 1rem;
}

.navItem {
	font-weight: bold;
	color: var(--navigation-text);
	position: relative;
}

.navItem:hover {
	color: var(--navigation-underline);
}

.navItem:after {
	content: "";
	border: 0 solid transparent;
	height: 100%;
	width: 0;
	position: absolute;
	transition: all 0.3s;
}
.navItem:after {
	border-bottom: 2px solid var(--navigation-underline);
	bottom: -4px;
	left: 0;
}

.navItem:hover:after {
	width: 100%;
}

.closed {
	composes: navigation;
	bottom: -10rem;
}

.navItemActive:after {
	width: 100%;
}

@media only screen and (min-width: 750px) {
	.navigation {
		position: static;
		z-index: 5;
	}
	.closed {
		transform: translateY(0);
	}
	.navList {
		display: flex;
		justify-content: space-around;
		align-items: center;
		max-width: var(--page-container-max-width);
		margin: 0 auto;
		padding-right: 4rem;
	}
}

.navLiHome {
	position: fixed;
	left: 1rem;
	top: 4rem;
}

@media only screen and (min-width: 750px) {
	.navLiHome {
		top: -90vh;
	}
}

.navItemHome {
	composes: navItem;
	text-transform: lowercase;
}
