.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: [title] auto [form] auto;
	justify-items: center;
	align-items: center;
	row-gap: 5rem;
	width: 100%;
}

.form {
	grid-row: form;
	width: 100%;
	max-width: 35rem;
}

.inputContainer {
	position: relative;
	padding-top: 1.5rem;
}

.input {
	width: 100%;
	height: 3rem;
	padding: 0 1rem;
	border: 0 solid transparent;
	border-bottom: 4px solid var(--text-secondary);
	border-radius: 4px;
	transition: all 0.5s;
	font-size: 1.2rem;
	background-repeat: no-repeat;
	background-position: right 1rem center;
	background-size: 0.75rem;
}

.label {
	position: absolute;
	top: 0rem;
	left: 0;
	opacity: 1;
	transform: translateY(0);
	transition: all 0.2s ease-out;
	color: var(--text-primary);
}

.input:placeholder-shown + .label {
	opacity: 0;
	transform: translateY(-1rem);
}

.input:hover {
	outline: none;
	background-color: var(--contact-form-bg);
}

.input:focus {
	outline: none;
	background-color: var(--contact-form-bg);
}

.input::placeholder {
	text-transform: uppercase;
	margin: 0;
}

.input:valid {
	border-color: var(--text-secondary);
	background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.input:invalid {
	background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.textarea {
	composes: input;
	height: 10rem;
	padding-top: 1rem;
}

textarea:required {
	box-shadow: none;
}

.btnContainer {
	text-align: center;
}

.btn {
	width: 8rem;
	height: 3rem;
	background: var(--text-secondary);
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.7s ease;
}

.btn:hover {
	opacity: 0.7;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
